body {
  background-color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  background-color: #ececec;
}

.main-navigation-wrapper a {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.button,
button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.slider b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider p {
  line-height: 55px;
}

.service-item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.project-development b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.project-development h3,
.stats h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.stats-item b {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.percent {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  vertical-align: super;
}

.stats-text {
  line-height: 18px;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.price-filter p {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-label {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.grid-filter p {
  line-height: 20px;
}

.left-column button {
  color: #000000;
}

.sort p {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.web-templates-item a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.web-templates-item p {
  line-height: 18px;
}

.paginator a {
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.adress h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.adress p {
  line-height: 18px;
}

.modal-window-label {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.half-width label,
.full-width label {
  line-height: 18px;
  font-weight: 700;
}

.close-button {
  color: #fecccd;
}

.letsbefriends {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social p {
  line-height: 22px;
}
