body {
  background-color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #000000;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

li {
  list-style-type: none;
}

.main-navigation-wrapper a {
  line-height: 30px;
}

.button {
  text-transform: uppercase;
  line-height: 18px;
}

.main-header {
  background-color: #ececec;
}

.main-navigation-wrapper {
  text-transform: uppercase;
}

.slider b {
  font-size: 55px;
  line-height: 55px;
}

.slider p {
  line-height: 55px;
}

.service-item h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
}

.project-development b {
  font-size: 45px;
  line-height: 45px;
}

.project-development h3,
.stats h3 {
  text-transform: uppercase;
  font-weight: bold;
}

.stats-item b {
  font-size: 45px;
  line-height: 10px;
}

.percent {
  font-size: 45px;
  line-height: 10px;
  vertical-align: super;
}

.stats-text {
  line-height: 18px;
}

.adress h5 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.adress p {
  line-height: 18px;
}

.modal-window-label {
  font-size: 45px;
  line-height: 45px;
}

.half-width label {
  line-height: 18px;
}

.letsbefriends {
  font-size: 36px;
  line-height: 36px;
}

.social p {
  line-height: 22px;
}
