body {
  min-width: 1200px;
  background-color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  background-color: #ececec;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation,
.stats-list,
.partners-list,
.social-list {
  list-style-type: none;
  padding-left: 0;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  outline: 1px solid #666;
}

.header-logo {
  margin-right: 200px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-right: 280px;
  outline: 1px solid #666;
}

.user-navigation {
  outline: 1px solid #666;
}

.main-navigation a {
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: #a6a6a6;
}

.main-navigation .active {
  box-shadow: 0 2px 0 0 #fb565a;
}

.button,
button {
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border: none;
  outline: none;

}

.slider .button,
a.red,
.adress button,
.modal-window button[type="submit"],
.web-templates-item .button {
  background-color: #fb565a;
  }

.slider .button:hover,
a.red:hover,
.adress button:hover,
.modal-window button[type="submit"]:hover,
.web-templates-item .button:hover {
  background-color: #e74246;
}

.slider .button:active,
a.red:active,
.adress button:active,
.modal-window button[type="submit"]:active,
.web-templates-item .button:active {
  color: #e57b7e;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

a.green {
  background-color: #00ca74;
}

a.green:hover {
  background-color: #00bc6c;
}

a.green:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

a.yellow {
  background-color: #efc84a;
}

a.yellow:hover {
  background-color: #eab534;
}

a.yellow:active {
  color: #edc265;
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}

.slider,
.main-index,
.map-inner,
.social {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.slide1 {
  background-image: url('../img/nerds-index-slide1.png');
  background-position: right center;
  background-repeat: no-repeat;
}

.slide2 {
  background-image: url('../img/nerds-index-slide2.png');
  background-position: right center;
  background-repeat: no-repeat;
}

.slide3 {
  background-image: url('../img/nerds-index-slide3.png');
  background-position: right center;
  background-repeat: no-repeat;
}

.slide-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 550px;
    height: 431px;
    outline: 1px solid #666;
}

.slider-label {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding-top: 80px;
  padding-bottom: 5px;
}

.slider p {
  line-height: 24px;
  padding-bottom: 25px;
}

.slider .button {
  box-sizing: border-box;
  width: 240px;
  height: 50px;
  padding-left: 50px;
  padding-top: 17px;
  border-radius: 2px;
}

.services {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 80px;
  box-shadow: 0 2px 0 0 #eeeeee;
}

.service-item {
  width: 300px;
  margin-right: 100px;
}

.service-item h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.service-item .button {
  display: flex;
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  padding-left: 40px;
  padding-top: 17px;
  border-radius: 2px;
}

.principles {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  box-shadow: 0 2px 0 0 #eeeeee;
}

.statement {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.project-development {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 90px;
  outline: 1px solid #666;
}

.project-development-list {
  display: flex;
  flex-direction: column;
}

.project-development-item {
  padding-bottom: 10px;
}

.project-development-item:last-child {
  padding-bottom: 0;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 700px;
  outline: 1px solid #666;
}

.stats-list {
  display: flex;
}

.stats-item {
  margin-right: 25px;
}

.project-development h3,
.stats h3 {
  font-weight: 700;
  text-transform: uppercase;
}

.stats-item b {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.percent {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  vertical-align: super;
}

.stats-text {
  display: flex;
  line-height: 18px;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 0 0 #eeeeee;
  outline: 1px solid #666;
  margin: 0;
  margin-bottom: 80px;
}

.htmlacademy,
.borodinski,
.pink,
.mishka
 {
  opacity: 0.2;
}

.htmlacademy:hover,
.borodinski:hover,
.pink:hover,
.mishka:hover {
  opacity: 1;
}

.htmlacademy:active,
.borodinski:active,
.pink:active,
.mishka:active {
  opacity: 0.1;
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.price-filter p {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-label {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.price-filter input[type="number"] {
  background-color: #eeeeee;
  border: none;
}

.grid-filter p,
.features-filter p {
  line-height: 20px;
  color: #283136;
}

.grid-filter p:hover,
.features-filter p:hover {
  color: #000000;
}

.grid-filter p:disabled,
.features-filter p:disabled {
  opacity: 0.3;
}

.left-column button {
  color: #000000;
  background-color: #eeeeee;
}

.left-column button:hover,
.paginator a:hover {
  background-color: #dfdfdf;
}

.left-column button:active,
.paginator a:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.sort input[type="radio"] {
  display: none;
}

.sort p {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ededed;
}

.sort p:hover {
  color: #a6a6a6;
}

.sort p:active,
.sort input[type="radio"]:checked + label  {
  color: #231f20;
}

.web-templates-item a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.web-templates-item p {
  line-height: 18px;
}

.paginator a {
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-color: #eeeeee;
}

.paginator .disabled {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.map {
  position: relative;
  overflow: hidden;
  min-width: 420px;
  margin-bottom: 80px;
}

.map-img {
  position: absolute;
  top: -147px;
  right: 0;
  width: 100%;
  height: auto;
}

.map-inner {
  display: flex;
}

.adress {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-top: 55px;
  margin-bottom: 55px;
  padding-left: 50px;
  width: 319px;
  height: 308px;
  background-color: #ffffff;
}

.map-marker {
  position: relative;
  margin-top: 80px;
  margin-left: 435px;
}

.adress h5,
.adress h4 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.adress p {
  line-height: 18px;
}

.adress button {
  box-sizing: border-box;
  width: 220px;
  height: 50px;
  padding: auto;
  border-radius: 2px;
}

.modal-window {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 960px;
  height: 590px;
  padding: 75px 100px 85px 100px;
  background-color: #ffffff;
  box-shadow: 0 20px 100px 0 #000101;
  margin-left: 100px;
  display: none;
}

.modal-window-header {
  display: flex;
  justify-content: space-between;
}

.modal-window-label {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.close-button {
  background: url('../img/close-cross.svg') 50% 50% no-repeat;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}

.half-width {
  display: flex;
  justify-content: space-between;
}

.half-width label,
.full-width label {
  line-height: 18px;
  font-weight: 700;
}

.half-width input {
  box-sizing: border-box;
  padding-left: 20px;
  width: 360px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #d7dcde;
}

.full-width textarea {
  box-sizing: border-box;
  padding-left: 20px;
  width: 760px;
  height: 120px;
  border-radius: 5px;
  border: 2px solid #d7dcde;
}

.send-button {
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  padding: auto;
  border-radius: 2px;
}

.modal-window input:hover,
.modal-window textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-window input:focus,
.modal-window textarea:focus {
  color: #000000;
  border: 2px solid #000000;
  outline: none;
}


/* неправильные значения инпутов
.modal-window input:invalid,
.modal-window textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
}
*/

.social {
  display: flex;
}

.social-list {
  display: flex;
  margin-right: 135px;
}

.social p {
  line-height: 22px;
}

.social-list a {
  display: flex;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 15px;
  text-decoration: none;
}

.social-vk {
  background: url('../img/vk-icon.svg') 50% 50% no-repeat;
}

.social-fb {
  background: url('../img/fb-icon.svg') 50% 50% no-repeat;
}

.social-instagram {
  background: url('../img/insta-icon.svg') 50% 50% no-repeat;
}

.social-list a:hover {

  background-color: #e74246;
  text-decoration: none;
}

.social-list a:active {

  background-color: #d7373b;
  box-shadow: inset 0 2px 0 0 #c13135;
  text-decoration: none;
}

.letsbefriends {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
